.form-container {
    display: flex;
    justify-content: center;
}
.formS {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}

.register {
    align-items: center;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .formS {
        width: 100%;
        padding: 20px;
        border: none;
    }
}
